 <% if @student.valid? %>
	$('#studentAdd').modal('hide');
	$('#student-js-<%= @student.id %>').replaceWith("<%= j(render partial: 'list', locals: {student: @student} )%>")
	
<% else %>
	
 $("#surnameBlock").html('<div class="notice"><%=escape_javascript(@errorsurname[0])%></div>');
 $("#surnameBlock:contains(.)").closest(".form-group").addClass("has-error");
 $("#firstnameBlock").html('<div class="notice"><%=escape_javascript(@errorfirstname[0])%></div>');
 $("#firstnameBlock:contains(.)").closest(".form-group").addClass("has-error");
 $("#lastnameBlock").html('<div class="notice"><%=escape_javascript(@errorlastname[0])%></div>');
 $("#lastnameBlock:contains(.)").closest(".form-group").addClass("has-error");
 $("#divBlock").html('<div class="notice"><%=escape_javascript(@errordiv[0])%></div>');
 $("#divBlock:contains(.)").closest(".form-group").addClass("has-error");
 $("#mobilenoBlock").html('<div class="notice"><%=escape_javascript(@errormobileno[0])%></div>');
 $("#mobilenoBlock:contains(.)").closest(".form-group").addClass("has-error");

<% end %>